<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>hqls</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectEmpListServlet</servlet-name>
    <servlet-class>com.oracle.sjgl.servlet.SelectEmpListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectProductListServlet</servlet-name>
    <servlet-class>com.oracle.sjgl.servlet.SelectProductListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteEmpServlet</servlet-name>
    <servlet-class>com.oracle.sjgl.servlet.DeleteEmpServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InsertEmpServlet</servlet-name>
    <servlet-class>com.oracle.sjgl.servlet.InsertEmpServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateEmpServlet</servlet-name>
    <servlet-class>com.oracle.sjgl.servlet.UpdateEmpServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ToUpdateEmpServlet</servlet-name>
    <servlet-class>com.oracle.sjgl.servlet.ToUpdateEmpServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectCustomerListServlet</servlet-name>
    <servlet-class>com.oracle.sjgl.servlet.SelectCustomerListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>com.oracle.sjgl.servlet.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ToUpdateCustomerServlet</servlet-name>
    <servlet-class>com.oracle.sjgl.servlet.ToUpdateCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <servlet-class>com.oracle.sjgl.servlet.UpdateCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectStockListServlet</servlet-name>
    <servlet-class>com.oracle.sjgl.servlet.SelectStockListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ToUpdateStockServlet</servlet-name>
    <servlet-class>com.oracle.sjgl.servlet.ToUpdateStockServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateStockServlet</servlet-name>
    <servlet-class>com.oracle.sjgl.servlet.UpdateStockServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InsertStockListServlet</servlet-name>
    <servlet-class>com.oracle.sjgl.servlet.InsertStockListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InsertCustomerServlet</servlet-name>
    <servlet-class>com.oracle.sjgl.servlet.InsertCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ToUpdateProductServlet</servlet-name>
    <servlet-class>com.oracle.sjgl.servlet.ToUpdateProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>com.oracle.sjgl.servlet.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InsertProductServlet</servlet-name>
    <servlet-class>com.oracle.sjgl.servlet.InsertProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>com.oracle.sjgl.servlet.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectEmpListByConditionServlet</servlet-name>
    <servlet-class>com.oracle.sjgl.servlet.SelectEmpListByConditionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectProductListByConditionServlet</servlet-name>
    <servlet-class>com.oracle.sjgl.servlet.SelectProductListByConditionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectCustomerListByConditionServlet</servlet-name>
    <servlet-class>com.oracle.sjgl.servlet.SelectCustomerListByConditionServlet</servlet-class>
  </servlet>























  <servlet-mapping>
    <servlet-name>SelectEmpListServlet</servlet-name>
    <url-pattern>/SelectEmpListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectProductListServlet</servlet-name>
    <url-pattern>/SelectProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteEmpServlet</servlet-name>
    <url-pattern>/DeleteEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertEmpServlet</servlet-name>
    <url-pattern>/InsertEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateEmpServlet</servlet-name>
    <url-pattern>/UpdateEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ToUpdateEmpServlet</servlet-name>
    <url-pattern>/ToUpdateEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectCustomerListServlet</servlet-name>
    <url-pattern>/SelectCustomerListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ToUpdateCustomerServlet</servlet-name>
    <url-pattern>/ToUpdateCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <url-pattern>/UpdateCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectStockListServlet</servlet-name>
    <url-pattern>/SelectStockListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ToUpdateStockServlet</servlet-name>
    <url-pattern>/ToUpdateStockServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateStockServlet</servlet-name>
    <url-pattern>/UpdateStockServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertStockListServlet</servlet-name>
    <url-pattern>/InsertStockListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertCustomerServlet</servlet-name>
    <url-pattern>/InsertCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ToUpdateProductServlet</servlet-name>
    <url-pattern>/ToUpdateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/UpdateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertProductServlet</servlet-name>
    <url-pattern>/InsertProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectEmpListByConditionServlet</servlet-name>
    <url-pattern>/SelectEmpListByConditionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectProductListByConditionServlet</servlet-name>
    <url-pattern>/SelectProductListByConditionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectCustomerListByConditionServlet</servlet-name>
    <url-pattern>/SelectCustomerListByConditionServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>