<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oracle.sjgl.po">

    <resultMap type="com.oracle.sjgl.po.User" id="userList">
         <id column="uid" property="uid"/>
     	 <result column="username" property="username"/>
     	 <result column="password" property="password"/>
    </resultMap>
    
    <select id="selectAllUser" resultMap="userList">
    	select * from l_user 
    </select>
    
    <select id="selectUserById" parameterType="int" resultMap="userList"> 
    	select * from l_user where uid = #{uid}
    </select>
    
     <insert id="addUser" parameterType="com.oracle.sjgl.po.User">
    	insert into l_user(username,password) values(#{username},#{password})
    </insert>
    
    <update id="updateUser" parameterType="com.oracle.sjgl.po.User">
    	update l_user set username = #{username},password = #{password} where uid = #{uid}
    </update>
    
    <delete id="deleteUser" parameterType="int">
    	delete from l_user where uid = #{uid}
    </delete>
</mapper>