<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oracle.sjgl.po">

    <resultMap type="com.oracle.sjgl.po.UserPower" id="UserPowerList">
         <id column="rid" property="rid"/>
     	 <id column="uid" property="uid"/>
    </resultMap>
    
    <select id="selectAllUserPower" resultMap="UserPowerList">
    	select * from l_power
    </select>
    
    <select id="selectUserPowerById" parameterType="int" resultMap="UserPowerList"> 
    	select * from l_power where uid = #{uid}
    </select>
    
    <insert id="addUserPower" parameterType="com.oracle.sjgl.po.UserPower">
    	insert into l_power(uid,rid) values(#{uid},#{rid})
    </insert>
    
    <update id="updateUserPower" parameterType="com.oracle.sjgl.po.UserPower">
    	update l_power set rid = #{rid} where uid = #{uid}
    </update>
    
    <delete id="deleteUserPower" parameterType="int">
    	delete from l_power where uid = #{uid}
    </delete>
</mapper>